@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  align-content: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: gray;
}

.header {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  width: 100%;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  bottom: 0;
  position: fixed;
  width: 100%;
  background: rgba(128, 128, 128, 0.202);
  
}

.left-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  padding-left: 10px;
  
}

.right-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  padding-right: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  height: 100vh; /* Takes the full viewport height */
}









